## Getting started
* printing and displaying messages
* comments
* basic data types
* variables
* addition with Strings and Numbers
* Concatenating strings
* Mixing data types
* Different ways to print strings
* gathering user input
* Math Operators
* print formatting

In [ ]:
print("Hello world")

#### Inserting a New Cell (Above and Below)

In [ ]:
# this is how a comment looks in python code
# every comment line starts with the # symbol

In [ ]:
'''
Multiline comments are comments that span multiple lines
They start with three single quotes 
and end with three single quotes
'''

**Single and double quotes strings**

In [ ]:
# examples of printing strings with single and double quotes
print('strings go in single')
print("or double quotes")

**Printing Integers**

In [ ]:
# printing an Integer with python
print(175)

# printing a string made of Integer (number) characters with python
print("2019")

### Variables
**Initializing variables**

**literals & variables in printing**

**Variable re-assignment**

In [ ]:
# print literal string
print("I am a string")

# print string as a variable value
msg = "I am a string"
print(msg)

In [ ]:
# assign a new string to the msg
msg = "Run this cell using Ctrl+Enter"
print(msg)

**Data Types in Variables**

In [ ]:
item_price = 10.25 # floating point number also called simply float
item_quantity = 25 # interger or whole number
name ="Ahmed Khan" #name initialized as a string

**modifying a variable and re-assigning to a different data type**

In [ ]:
test_value = 22
print(test_value)
test_value = "Ahmed"
print(test_value)

In [ ]:
x,y = 3,4
print(x,y)

**Using type() function**

In [ ]:
type("Hello World!")

In [ ]:
print(type(200))
print(type(8.33333))

**String and Number Addition**

In [ ]:
20 + 18

In [ ]:
"my name is " + 'Umar'

In [ ]:
shoe_color = "brown"
"my shoe color is " + shoe_color

In [ ]:
3.5 + 4

**addition in variable assignments and in print()**

In [ ]:
two_add = 34 + 16
print(two_add)

In [ ]:
print(3+4)

**skipping newlines using print()**

In [ ]:
msg = "I don't want to " + "drink water "  
print(msg,end='')
print("during " + "dinner")

**combining string and non-string data types in print**

In [ ]:
print("my number is " + "123") #string, represents a text character
print("my number is " + 123) #number, with numeric value

In [ ]:
print("my number is " + str(123))

**Get information from users with input()**

In [ ]:
print("enter a number: ")
number = input()
print("number is: ",end='')
print(number)

**User Prompts for input()**

In [ ]:
name = input("enter your name: ")  
print("Hello " + name)

In [ ]:
name = input('name = ')
age = input('age = ')
email = input('email = ')

**print() comma separated strings**

In [ ]:
name = "Rafay"

# string concatenation formatting
print("Hello " + name + "!")

# comma separation formatting
print("Hello to",name,'who is from the Islamabad')

**Using commas in print() with strings and numbers together**

In [ ]:
print("my number is ", 123)

In [ ]:
print("I will pick you up @",8,"for the class")

#### Inserting variables with comma separated formatting

In [ ]:
number_errors = 0
print("An Integer of", 14, "combined with strings causes",number_errors,"TypeErrors in comma formatted print!")

**Using format()**

In [ ]:
street = 28
print('We bought {} oranges from the {} located in street {}'.format(12,'market',street))

**Basic Math Operators**

In [ ]:
print("3 + 5 =",3 + 5)
print("3 + 5 - 9 =", 3 + 5 - 9)
print("48/9 =", 48/9)
print("5*5 =", 5*5)
print("53%5 =",53%5)

In [ ]:
print("(14 - 8)*(19/4) =", (14 - 8)*(19/4))

In [ ]:
a = 5*5
b = 4
c = a * b
print(c)

In [ ]:
p = 10
p = p + 5
print(p)

In [ ]:
p += 10
print(p)

In [ ]:
q = 15
p = p + q
print(p)

In [ ]:
x = 10.
y = 5.
z = x**2 + y**2 # x**y raises x to the yth power
print(z)

In [ ]:
zz = (x - 2)**2 + (y + 3)**3
print(zz)

In [ ]:
c//3 #Returns int

In [ ]:
c/3 # returns float
c

In [ ]:
c = c - 10
print(c)

In [ ]:
c -= 5
print(c)

In [ ]:
21//3.0 #Returns float

**Type casting**

In [ ]:
weight1 = '60' # a string
weight2 = 170 # an integer
# add 2 integers
total_weight = int(weight1) + weight2
print(total_weight)

In [ ]:
str_integer = "2"
int_number = 10
number_total = int(str_integer) + int_number
print(number_total)

In [ ]:
student_age = input('enter student age (integer): ')
age_next_year += int(student_age)
print('Next year student will be',age_next_year)